workflows/viral-video-generator.json
{
  "name": "Generate AI viral videos with NanoBanana & VEO3, shared on socials via Blotato",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "tags": [],
  "pinData": {},
  "nodes": [
    {
      "id": "8b0208fb-d36d-4974-9094-832a4a7d9edb",
      "name": "Telegram Trigger: Receive Video Idea",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [-208, -752],
      "parameters": { "updates": ["message"], "additionalFields": {} },
      "webhookId": "0d980023-389f-49a8-aa11-905fcb09a1ee"
    },
    {
      "id": "a2f9d4b1-0c7f-4de5-bc31-19fe61c85e48",
      "name": "Set: Bot Token (Placeholder)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, -752],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "af62651a-3fc8-419d-908b-6514f6f4bcb3", "name": "YOUR_BOT_TOKEN", "value": "", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "34c98ae0-f405-413f-9204-ab4561ccaa16",
      "name": "Telegram: Get Image File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [224, -880],
      "parameters": { "resource": "file", "operation": "get", "fileId": "={{ $json.message.photo[2].file_id }}", "additionalFields": {} },
      "webhookId": "13f12433-411b-495f-b010-686025f2d6e5"
    },
    {
      "id": "834f3c5b-8c24-47fc-b522-9f7948ba2b2f",
      "name": "Google Drive: Upload Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [240, -688],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $(\"Telegram Trigger: Receive Video Idea\").item.json.message.photo[2].file_unique_id }}",
        "driveId": { "__rl": true, "mode": "list", "value": "My Drive", "cachedResultName": "My Drive" },
        "folderId": { "__rl": true, "mode": "id", "value": "" },
        "options": {}
      }
    },
    {
      "id": "d382dae2-f7cc-453f-8603-8d3cab02d0e0",
      "name": "Google Sheets: Log Image & Caption",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [240, -512],
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "id", "value": "" },
        "sheetName": { "__rl": true, "mode": "id", "value": "" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["IMAGE NAME"],
          "value": {
            "STATUS": "EN COURS",
            "CAPTION": "={{ $(\"Telegram Trigger: Receive Video Idea\").item.json.message.caption }}",
            "IMAGE URL": "={{ $json.webContentLink }}",
            "IMAGE NAME": "={{ $(\"Telegram Trigger: Receive Video Idea\").item.json.message.photo[2].file_unique_id }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "77738f49-acab-41bf-b599-af603f66b98f",
      "name": "Telegram API: Get File URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [672, -752],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $json.YOUR_BOT_TOKEN }}/getFile?file_id={{ $(\"Telegram Trigger: Receive Video Idea\").item.json.message.photo[3].file_id }}",
        "options": {}
      }
    },
    {
      "id": "a7eb560b-1cc9-4d2e-a5e5-105bb3f7a0b8",
      "name": "OpenAI Vision: Analyze Reference Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1088, -752],
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": { "__rl": true, "mode": "list", "value": "chatgpt-4o-latest", "cachedResultName": "CHATGPT-4O-LATEST" },
        "text": "You are an image analysis assistant.\n\nYour task is to analyze the given image and output results **only in YAML format**. Do not add explanations, comments, or extra text outside YAML.\n\nRules:\n\n- If the image depicts a **product**, return:\n    brand_name: (brand if visible or inferable)\n    color_scheme:\n      - hex: (hex code of each prominent color)\n        name: (descriptive name of the color)\n    font_style: (serif/sans-serif, bold/thin, etc.)\n    visual_description: (1-2 sentences summarizing what is seen, ignoring the background)\n\n- If the image depicts a **character**, return:\n    character_name: (name if visible or inferable, else \"unknown\")\n    color_scheme:\n      - hex: (hex code of each prominent color on the character)\n        name: (descriptive name of the color)\n    outfit_style: (clothing style, accessories, or notable features)\n    visual_description: (1-2 sentences summarizing what the character looks like, ignoring the background)\n\n- If the image depicts **both**, return **both sections** in YAML.\n\nOnly output valid YAML. No explanations.",
        "imageUrls": "=https://api.telegram.org/file/bot{{ $(\"Set: Bot Token (Placeholder)\").item.json.YOUR_BOT_TOKEN }}/{{ $json.result.file_path }}",
        "options": {}
      }
    },
    {
      "id": "2ce1a724-88d6-491b-8357-c5253bd367a0",
      "name": "Google Sheets: Update Image Description",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1328, -752],
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "id", "value": "" },
        "sheetName": { "__rl": true, "mode": "id", "value": "" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["IMAGE NAME"],
          "value": {
            "IMAGE NAME": "={{ $(\"Telegram Trigger: Receive Video Idea\").item.json.message.photo[2].file_unique_id }}",
            "IMAGE DESCRIPTION": "={{ $json.content }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "40c98f10-3076-4396-83fe-46e97d41ecd1",
      "name": "Generate Image Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1552, -752],
      "parameters": {
        "promptType": "define",
        "text": "=Your task is to create an image prompt following the system guidelines.\nEnsure that the reference image is represented as **accurately as possible**, including all text elements.\n\nUse the following inputs:\n\n- **User's description:**\n{{ $json.CAPTION }}\n\n- **Reference image description:**\n{{ $json['IMAGE DESCRIPTION'] }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE: UGC Image Prompt Builder\n\nGOAL:\nGenerate one concise, natural, and realistic image prompt (<=120 words) from a given product or reference image. The prompt must simulate authentic UGC (user-generated content) photography.\n\nRULES:\n- Always output **one JSON object only** with the key:\n  - `image_prompt`: (string with full description)\n- Do **not** add commentary, metadata, or extra keys. JSON only.\n\nSTYLE GUIDELINES:\n- Tone: casual, unstaged, lifelike, handheld snapshot.\n- Camera cues: include at least 2-3 (e.g., phone snapshot, handheld framing, off-center composition, natural indoor light, soft shadows, slight motion blur, auto exposure, unpolished look, mild grain).\n- Realism: embrace imperfections (wrinkles, stray hairs, skin texture, clutter, smudges).\n- Packaging/Text: preserve exactly as visible. Never invent claims, numbers, or badges.\n- Diversity: if people appear but are unspecified, vary gender/ethnicity naturally; default age range = 21-38.\n- Setting: default to real-world everyday spaces (home, street, store, gym, office).\n\nSAFETY:\n- No copyrighted character names.\n- No dialogue or scripts. Only describe scenes.\n\nOUTPUT CONTRACT:\n- JSON only, no prose outside.\n- Max 120 words in `image_prompt`.\n- Must cover: subject, action, mood, setting, style/camera, colors, and text accuracy.\n\nCHECKLIST BEFORE OUTPUT:\n- Natural handheld tone?\n- At least 2 camera cues included?\n- Product text preserved exactly?\n- Only JSON returned?"
        }
      }
    },
    {
      "id": "0cbcdf03-2fb5-4d68-a9ab-19422e8822b0",
      "name": "LLM: OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1504, -512],
      "parameters": { "model": { "__rl": true, "mode": "list", "value": "gpt-4.1-mini" }, "options": {} }
    },
    {
      "id": "34eef20c-6f97-4ccc-bbba-8b2233e66b5d",
      "name": "LLM: Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1712, -512],
      "parameters": { "schemaType": "fromJson", "jsonSchemaExample": "{\n\t\"image_prompt\": \"string\"\n}" }
    },
    {
      "id": "aaa01ff5-1b03-4afd-b70e-ac254b1b7969",
      "name": "NanoBanana: Create Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1888, -752],
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.output.image_prompt, image_urls: [ $(\"Google Drive: Upload Image\").item.json.webContentLink ] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "3d570b52-6433-47cf-b5a6-c1199e2aa20f",
      "name": "Wait for Image Edit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2096, -752],
      "parameters": { "amount": 20 },
      "webhookId": "a4e9e767-7314-474d-b24c-9c1357f0dc89"
    },
    {
      "id": "a317cda6-827d-4bbe-bd68-d4eabd73e6aa",
      "name": "Download Edited Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2096, -528],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "1f64283c-921e-4989-9f12-95444c415af7",
      "name": "Google Sheets: Read Video Parameters (CONFIG)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [32, -192],
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "" },
        "sheetName": { "__rl": true, "mode": "id", "value": "" },
        "options": {}
      }
    },
    {
      "id": "55a982fb-ee73-4838-b128-13e15202b8fe",
      "name": "Set Master Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, -192],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cc2e0500-57b1-4615-82cb-1c950e5f2ec4",
              "name": "json_master",
              "value": "{\n  \"description\": \"Brief narrative description of the scene, focusing on key visual storytelling and product transformation.\",\n  \"style\": \"cinematic | photorealistic | stylized | gritty | elegant\",\n  \"camera\": {\n    \"type\": \"fixed | dolly | Steadicam | crane combo\",\n    \"movement\": \"describe any camera moves like slow push-in, pan, orbit\",\n    \"lens\": \"optional lens type or focal length for cinematic effect\"\n  },\n  \"lighting\": {\n    \"type\": \"natural | dramatic | high-contrast\",\n    \"sources\": \"key lighting sources (sunset, halogen, ambient glow...)\",\n    \"FX\": \"optional VFX elements like fog, reflections, flares\"\n  },\n  \"environment\": {\n    \"location\": \"describe location or room (kitchen, desert, basketball court...)\",\n    \"set_pieces\": [\"list of key background or prop elements\"],\n    \"mood\": \"describe the ambient atmosphere (moody, clean, epic...)\"\n  },\n  \"elements\": [\"main physical items involved (product box, accessories, vehicles...)\"],\n  \"subject\": {\n    \"character\": {\n      \"description\": \"optional - physical description, outfit\",\n      \"pose\": \"optional - position or gesture\",\n      \"lip_sync_line\": \"optional - spoken line if there is a voiceover\"\n    },\n    \"product\": {\n      \"brand\": \"Brand name\",\n      \"model\": \"Product model or name\",\n      \"action\": \"description of product transformation or assembly\"\n    }\n  },\n  \"motion\": {\n    \"type\": \"e.g. transformation, explosion, vortex\",\n    \"details\": \"step-by-step visual flow of how elements move or evolve\"\n  },\n  \"VFX\": {\n    \"transformation\": \"optional - describe style (neon trails, motion blur...)\",\n    \"impact\": \"optional - e.g. shockwave, glow, distortion\",\n    \"particles\": \"optional - embers, sparks, thread strands...\",\n    \"environment\": \"optional - VFX affecting the scene (ripples, wind...)\"\n  },\n  \"audio\": {\n    \"music\": \"optional - cinematic score, trap beat, ambient tone\",\n    \"sfx\": [\"list of sound effects (zip, pop, woosh...)\"],\n    \"ambience\": \"optional - background soundscape (traffic, wind...)\",\n    \"voiceover\": {\n      \"delivery\": \"tone and style (confident, whisper, deep...)\",\n      \"line\": \"text spoken if applicable\"\n    }\n  },\n  \"ending\": \"Final shot description\",\n  \"text\": \"none | overlay | tagline | logo pulse at end only\",\n  \"format\": \"16:9 | 4k | vertical\",\n  \"keywords\": [\"brand\", \"scene style\", \"motion type\", \"camera style\", \"sound mood\", \"target theme\"]\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "aa14c612-d26f-4497-91be-44521d603c43",
      "name": "AI Agent: Generate Video Script",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [560, -192],
      "parameters": {
        "promptType": "define",
        "text": "=Create a UGC-style video prompt using both the reference image and the user description.\n\n**Inputs**\n- User description (optional):\n  {{ $('Telegram Trigger: Receive Video Idea').item.json.message.caption }}\n- Reference image analysis (stay strictly faithful to what's visible):\n  {{ $('Google Sheets: Update Image Description').item.json['IMAGE DESCRIPTION'] }}\n\n**Rules**\n- Keep the style casual, authentic, and realistic. Avoid studio-like or cinematic language.\n- Default model: veo3_fast (unless otherwise specified).\n- Output only **one JSON object** with the key: video_prompt.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "system_prompt:\n  ## SYSTEM PROMPT: Structured Video Ad Prompt Generator\n  A - Ask:\n    Generate a structured video ad prompt for cinematic generation, strictly based on the master schema defined below.\n    The final result must be a JSON object with exactly two top-level keys: `title` and `final_prompt`.\n\n  G - Guidance:\n    role: Creative Director\n    output_count: 1\n    character_limit: None\n    constraints:\n      - The output must be valid JSON.\n      - The `title` field should contain a short, descriptive and unique title (max 15 words).\n      - The `final_prompt` field must contain a single-line JSON string that follows the exact structure of the master schema with all fields preserved.\n      - Do not include any explanations, markdown, or extra text - only the JSON object.\n      - Escape all inner quotes in the `final_prompt` string so it is valid as a stringified JSON inside another JSON.\n    tool_usage:\n      - Ensure consistent alignment across all fields (camera, lighting, motion, etc.).\n      - Maintain full structure even for optional fields (use \"none\", \"\", or [] as needed).\n\n  N - Notation:\n    format: JSON\n    expected_output:\n      {\n        \"title\": \"A unique short title for the scene\",\n        \"final_prompt\": \"{...stringified JSON of the full prompt...}\"\n      }\n\n  MASTER SCHEMA:\n{\n  \"description\": \"Brief narrative description of the scene, focusing on key visual storytelling and product transformation.\",\n  \"style\": \"cinematic | photorealistic | stylized | gritty | elegant\",\n  \"camera\": {\n    \"type\": \"fixed | dolly | Steadicam | crane combo\",\n    \"movement\": \"describe any camera moves like slow push-in, pan, orbit\",\n    \"lens\": \"optional lens type or focal length for cinematic effect\"\n  },\n  \"lighting\": {\n    \"type\": \"natural | dramatic | high-contrast\",\n    \"sources\": \"key lighting sources (sunset, halogen, ambient glow...)\",\n    \"FX\": \"optional VFX elements like fog, reflections, flares\"\n  },\n  \"environment\": {\n    \"location\": \"describe location or room (kitchen, desert, basketball court...)\",\n    \"set_pieces\": [\"list of key background or prop elements\"],\n    \"mood\": \"describe the ambient atmosphere (moody, clean, epic...)\"\n  },\n  \"elements\": [\"main physical items involved (product box, accessories, vehicles...)\"],\n  \"subject\": {\n    \"character\": {\n      \"description\": \"optional - physical description, outfit\",\n      \"pose\": \"optional - position or gesture\",\n      \"lip_sync_line\": \"optional - spoken line if there is a voiceover\"\n    },\n    \"product\": {\n      \"brand\": \"Brand name\",\n      \"model\": \"Product model or name\",\n      \"action\": \"description of product transformation or assembly\"\n    }\n  },\n  \"motion\": {\n    \"type\": \"e.g. transformation, explosion, vortex\",\n    \"details\": \"step-by-step visual flow of how elements move or evolve\"\n  },\n  \"VFX\": {\n    \"transformation\": \"optional - describe style (neon trails, motion blur...)\",\n    \"impact\": \"optional - e.g. shockwave, glow, distortion\",\n    \"particles\": \"optional - embers, sparks, thread strands...\",\n    \"environment\": \"optional - VFX affecting the scene (ripples, wind...)\"\n  },\n  \"audio\": {\n    \"music\": \"optional - cinematic score, trap beat, ambient tone\",\n    \"sfx\": [\"list of sound effects (zip, pop, woosh...)\"],\n    \"ambience\": \"optional - background soundscape (traffic, wind...)\",\n    \"voiceover\": {\n      \"delivery\": \"tone and style (confident, whisper, deep...)\",\n      \"line\": \"text spoken if applicable\"\n    }\n  },\n  \"ending\": \"Final shot description\",\n  \"text\": \"none | overlay | tagline | logo pulse at end only\",\n  \"format\": \"16:9 | 4k | vertical\",\n  \"keywords\": [\"brand\", \"scene style\", \"motion type\", \"camera style\", \"sound mood\", \"target theme\"]\n}\n"
        }
      }
    },
    {
      "id": "d93fe6f1-e594-4fc4-8788-9ee65704ce83",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [480, 32],
      "parameters": { "model": { "__rl": true, "mode": "list", "value": "gpt-4.1-mini" }, "options": {} }
    },
    {
      "id": "e8f408d9-bf3e-4ece-a369-6507b8d73568",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [624, 32],
      "parameters": { "description": "Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed." }
    },
    {
      "id": "4245ef0f-acdf-4041-94d8-d37cf4e23585",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [768, 32],
      "parameters": { "schemaType": "fromJson", "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"final_prompt\": \"string\"\n}\n" }
    },
    {
      "id": "9fddd6ef-d54e-461e-a7a4-35e879457913",
      "name": "Format Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 16],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const structuredPrompt = $input.first().json.output.final_prompt;\nreturn {\n  json: {\n    prompt: JSON.stringify(structuredPrompt),\n    model: \"veo3_fast\",\n    aspectRatio: \"16:9\"\n  }\n};"
      }
    },
    {
      "id": "c1d783c2-b17e-43b5-82c5-2cdea0b9ac82",
      "name": "Generate Video with VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-160, 320],
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "sendBody": true,
        "contentType": "raw",
        "specifyBody": "string",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\": {{ $json.prompt }},\n  \"model\": \"{{ $(\"Google Sheets: Read Video Parameters (CONFIG)\").item.json.model }}\",\n  \"aspectRatio\": \"{{ $json.aspectRatio }}\",\n  \"imageUrls\": [\n    \"{{ $(\"Download Edited Image\").item.json.images[0].url }}\"\n  ]\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "5a61f575-49d8-4d4a-9649-555de187e1c3",
      "name": "Wait for VEO3 Rendering",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [48, 320],
      "parameters": { "amount": 20 },
      "webhookId": "72d60a94-5820-4322-8d76-6ebc9c940de0"
    },
    {
      "id": "9b613917-400e-4658-966b-2fd0cb58b9b6",
      "name": "Download Video from VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [256, 320],
      "parameters": {
        "method": "GET",
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": { "parameters": [{ "name": "taskId", "value": "={{ $(\"Generate Video with VEO3\").item.json.data.taskId }}" }] },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "6d4a0771-edf3-4ce4-b07a-af67e1d322d1",
      "name": "Rewrite Caption with GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [416, 320],
      "parameters": {
        "modelId": { "__rl": true, "mode": "list", "value": "gpt-4o", "cachedResultName": "GPT-4O" },
        "messages": {
          "values": [
            { "content": "=You are rewriting a TikTok video script, caption, and overlay -\nnot inventing a new one. You must follow this format and obey\nthese rules strictly.\n---\n### CONTEXT:\nHere is the content idea to use:{{ $(\"Telegram Trigger: Receive Video Idea\").item.json.message.caption }}\n\nand the Title is : {{ $(\"AI Agent: Generate Video Script\").item.json.output.title }}\n\n\nWrite the caption text using the topic.\n\n---\n- MUST be under 200 characters (yes \"Characters\" not wordcount)\nthis is an absolute MUST, no more than 200 characters!!!\n\n### FINAL OUTPUT FORMAT (no markdown formatting):\n\nDO NOT return any explanations. Only return the Caption Text\n" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ad12a0c6-0ff2-446c-8d0c-766e62e43a74",
      "name": "Save Caption Video to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [720, 320],
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "id", "value": "" },
        "sheetName": { "__rl": true, "mode": "id", "value": "" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["IMAGE NAME"],
          "value": {
            "STATUS": "CREATE",
            "IMAGE NAME": "={{ $(\"Telegram Trigger: Receive Video Idea\").item.json.message.photo[2].file_unique_id }}",
            "TITRE VIDEO": "={{ $(\"AI Agent: Generate Video Script\").item.json.output.title }}",
            "CAPTION VIDEO": "={{ $json.message.content }}",
            "URL VIDEO FINAL": "={{ $(\"Download Video from VEO3\").item.json.data.response.resultUrls[0] }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "ae46a49c-067c-496e-a1de-c720609f6814",
      "name": "Send Video URL via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1008, -176],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $(\"Telegram Trigger: Receive Video Idea\").item.json.message.chat.id }}",
        "text": "=Url VIDEO : {{ $(\"Download Video from VEO3\").item.json.data.response.resultUrls[0] }}",
        "additionalFields": {}
      },
      "webhookId": "3d0ed03a-3d07-4d3a-967d-fcf078727aec"
    },
    {
      "id": "f25e226d-422d-45fc-b345-7f221ee4c52c",
      "name": "Send Final Video Preview",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1024, 64],
      "parameters": {
        "resource": "message",
        "operation": "sendVideo",
        "chatId": "={{ $json.result.chat.id }}",
        "binaryData": false,
        "file": "={{ $(\"Save Caption Video to Google Sheets\").item.json[\"URL VIDEO FINAL\"] }}",
        "additionalFields": {}
      },
      "webhookId": "05d36c19-d860-45a2-a829-1e408c08d077"
    },
    {
      "id": "c4a74349-761e-43bc-a474-8e1aa121b207",
      "name": "Upload Video to BLOTATO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1024, 320],
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $(\"Download Video from VEO3\").item.json.data.response.resultUrls[0] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "7546eeb6-2940-4038-97b5-4fe138fbb0e2",
      "name": "Tiktok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1280, -64],
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: \"9332\", target: { targetType: \"tiktok\", privacyLevel: \"PUBLIC_TO_EVERYONE\", disabledComments: false, disabledDuet: false, disabledStitch: false, isBrandedContent: false, isYourBrand: false, isAiGenerated: true }, content: { text: $(\"Save Caption Video to Google Sheets\").item.json[\"CAPTION VIDEO\"], platform: \"tiktok\", mediaUrls: [ $(\"Upload Video to BLOTATO\").item.json.url ] } } }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "c78ec4c5-0096-43e3-a0c1-4df0355077c7",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1936, 16],
      "parameters": { "mode": "chooseBranch", "numberInputs": 9, "output": "specifiedInput", "useDataOfInput": "1" }
    },
    {
      "id": "aec11ef2-dcf1-4fa8-9f79-c60d404b6262",
      "name": "Linkedin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1472, -64],
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: \"1446\", target: { targetType: \"linkedin\" }, content: { text: $(\"Save Caption Video to Google Sheets\").item.json[\"CAPTION VIDEO\"], platform: \"linkedin\", mediaUrls: [ $(\"Upload Video to BLOTATO\").item.json.url ] } } }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "59e9af3b-252b-4e94-ad04-b3ba1896d5e2",
      "name": "Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1648, -64],
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: \"1759\", target: { targetType: \"facebook\", pageId: \"101603614680195\" }, content: { text: $(\"Save Caption Video to Google Sheets\").item.json[\"CAPTION VIDEO\"], platform: \"facebook\", mediaUrls: [ $(\"Upload Video to BLOTATO\").item.json.url ] } } }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "c64d4081-7e9d-44cf-afee-f2a56f41c4df",
      "name": "Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1280, 112],
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: \"11892\", target: { targetType: \"instagram\" }, content: { text: $(\"Save Caption Video to Google Sheets\").item.json[\"CAPTION VIDEO\"], platform: \"instagram\", mediaUrls: [ $(\"Upload Video to BLOTATO\").item.json.url ] } } }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "9c1b93e0-c723-4bbe-b20a-fecc3e9c8e2b",
      "name": "Twitter (X)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1472, 112],
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: \"1289\", target: { targetType: \"twitter\" }, content: { text: $(\"Save Caption Video to Google Sheets\").item.json[\"CAPTION VIDEO\"], platform: \"twitter\", mediaUrls: [ $(\"Upload Video to BLOTATO\").item.json.url ] } } }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "17d6e538-d4e3-46d6-81ff-4859e74c2c46",
      "name": "Youtube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1648, 112],
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: \"8047\", target: { targetType: \"youtube\", title: $(\"Save Caption Video to Google Sheets\").item.json[\"TITRE VIDEO\"], privacyStatus: \"private\", shouldNotifySubscribers: false }, content: { text: $(\"Save Caption Video to Google Sheets\").item.json[\"CAPTION VIDEO\"], platform: \"youtube\", mediaUrls: [ $(\"Upload Video to BLOTATO\").item.json.url ] } } }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "1b74e42a-3ae1-4458-92e7-c67a18f6b8b9",
      "name": "Threads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1280, 320],
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: \"2280\", target: { targetType: \"threads\" }, content: { text: $(\"Save Caption Video to Google Sheets\").item.json[\"CAPTION VIDEO\"], platform: \"threads\", mediaUrls: [ $(\"Upload Video to BLOTATO\").item.json.url ] } } }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "abada0e7-e17a-4f47-8bdd-d636453b78a5",
      "name": "Bluesky",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1472, 320],
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: \"6012\", target: { targetType: \"bluesky\" }, content: { text: $(\"Save Caption Video to Google Sheets\").item.json[\"CAPTION VIDEO\"], platform: \"bluesky\", mediaUrls: [ $(\"Upload Video to BLOTATO\").item.json.url ] } } }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "ff51fb7e-292f-4f5b-903b-a3ad5cfb08df",
      "name": "Pinterest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1648, 320],
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: \"363\", target: { targetType: \"pinterest\", boardId: \"1146658823815436667\" }, content: { text: $(\"Save Caption Video to Google Sheets\").item.json[\"CAPTION VIDEO\"], platform: \"pinterest\", mediaUrls: [ $(\"Upload Video to BLOTATO\").item.json.url ] } } }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "92f4e28a-9139-4349-9ec5-7b67005ede92",
      "name": "Update Status to \"DONE\"",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2112, 128],
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "id", "value": "" },
        "sheetName": { "__rl": true, "mode": "id", "value": "" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["IMAGE NAME"],
          "value": {
            "STATUS": "Published",
            "IMAGE NAME": "={{ $(\"Telegram Trigger: Receive Video Idea\").item.json.message.photo[2].file_unique_id }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "a9afcb1e-49bb-48f6-9d94-b029a84ebde5",
      "name": "Telegram: Send notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2112, 336],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $(\"Telegram Trigger: Receive Video Idea\").item.json.message.chat.id }}",
        "text": "Published",
        "additionalFields": {}
      },
      "webhookId": "ff431d1c-6e9c-49c1-bfdf-4fac4d4bf02f"
    }
  ],
  "connections": {
    "Telegram Trigger: Receive Video Idea": {
      "main": [[{ "node": "Set: Bot Token (Placeholder)", "type": "main", "index": 0 }, { "node": "Telegram: Get Image File", "type": "main", "index": 0 }]]
    },
    "Set: Bot Token (Placeholder)": {
      "main": [[{ "node": "Telegram API: Get File URL", "type": "main", "index": 0 }]]
    },
    "Telegram: Get Image File": {
      "main": [[{ "node": "Google Drive: Upload Image", "type": "main", "index": 0 }]]
    },
    "Google Drive: Upload Image": {
      "main": [[{ "node": "Google Sheets: Log Image & Caption", "type": "main", "index": 0 }]]
    },
    "Google Sheets: Log Image & Caption": {
      "main": [[{ "node": "Set: Bot Token (Placeholder)", "type": "main", "index": 0 }]]
    },
    "Telegram API: Get File URL": {
      "main": [[{ "node": "OpenAI Vision: Analyze Reference Image", "type": "main", "index": 0 }]]
    },
    "OpenAI Vision: Analyze Reference Image": {
      "main": [[{ "node": "Google Sheets: Update Image Description", "type": "main", "index": 0 }]]
    },
    "Google Sheets: Update Image Description": {
      "main": [[{ "node": "Generate Image Prompt", "type": "main", "index": 0 }]]
    },
    "Generate Image Prompt": {
      "main": [[{ "node": "NanoBanana: Create Image", "type": "main", "index": 0 }]]
    },
    "LLM: OpenAI Chat": {
      "ai_languageModel": [[{ "node": "Generate Image Prompt", "type": "ai_languageModel", "index": 0 }]]
    },
    "LLM: Structured Output Parser": {
      "ai_outputParser": [[{ "node": "Generate Image Prompt", "type": "ai_outputParser", "index": 0 }]]
    },
    "NanoBanana: Create Image": {
      "main": [[{ "node": "Wait for Image Edit", "type": "main", "index": 0 }]]
    },
    "Wait for Image Edit": {
      "main": [[{ "node": "Download Edited Image", "type": "main", "index": 0 }]]
    },
    "Download Edited Image": {
      "main": [[{ "node": "Google Sheets: Read Video Parameters (CONFIG)", "type": "main", "index": 0 }]]
    },
    "Google Sheets: Read Video Parameters (CONFIG)": {
      "main": [[{ "node": "Set Master Prompt", "type": "main", "index": 0 }]]
    },
    "Set Master Prompt": {
      "main": [[{ "node": "AI Agent: Generate Video Script", "type": "main", "index": 0 }]]
    },
    "AI Agent: Generate Video Script": {
      "main": [[{ "node": "Format Prompt", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent: Generate Video Script", "type": "ai_languageModel", "index": 0 }]]
    },
    "Think": {
      "ai_tool": [[{ "node": "AI Agent: Generate Video Script", "type": "ai_tool", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "AI Agent: Generate Video Script", "type": "ai_outputParser", "index": 0 }]]
    },
    "Format Prompt": {
      "main": [[{ "node": "Generate Video with VEO3", "type": "main", "index": 0 }]]
    },
    "Generate Video with VEO3": {
      "main": [[{ "node": "Wait for VEO3 Rendering", "type": "main", "index": 0 }]]
    },
    "Wait for VEO3 Rendering": {
      "main": [[{ "node": "Download Video from VEO3", "type": "main", "index": 0 }]]
    },
    "Download Video from VEO3": {
      "main": [[{ "node": "Rewrite Caption with GPT-4o", "type": "main", "index": 0 }]]
    },
    "Rewrite Caption with GPT-4o": {
      "main": [[{ "node": "Save Caption Video to Google Sheets", "type": "main", "index": 0 }]]
    },
    "Save Caption Video to Google Sheets": {
      "main": [[{ "node": "Send Video URL via Telegram", "type": "main", "index": 0 }]]
    },
    "Send Video URL via Telegram": {
      "main": [[{ "node": "Send Final Video Preview", "type": "main", "index": 0 }]]
    },
    "Send Final Video Preview": {
      "main": [[{ "node": "Upload Video to BLOTATO", "type": "main", "index": 0 }]]
    },
    "Upload Video to BLOTATO": {
      "main": [[
        { "node": "Tiktok", "type": "main", "index": 0 },
        { "node": "Linkedin", "type": "main", "index": 0 },
        { "node": "Facebook", "type": "main", "index": 0 },
        { "node": "Instagram", "type": "main", "index": 0 },
        { "node": "Twitter (X)", "type": "main", "index": 0 },
        { "node": "Youtube", "type": "main", "index": 0 },
        { "node": "Threads", "type": "main", "index": 0 },
        { "node": "Bluesky", "type": "main", "index": 0 },
        { "node": "Pinterest", "type": "main", "index": 0 }
      ]]
    },
    "Tiktok": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Linkedin": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Facebook": { "main": [[{ "node": "Merge", "type": "main", "index": 2 }]] },
    "Instagram": { "main": [[{ "node": "Merge", "type": "main", "index": 3 }]] },
    "Twitter (X)": { "main": [[{ "node": "Merge", "type": "main", "index": 4 }]] },
    "Youtube": { "main": [[{ "node": "Merge", "type": "main", "index": 5 }]] },
    "Threads": { "main": [[{ "node": "Merge", "type": "main", "index": 6 }]] },
    "Bluesky": { "main": [[{ "node": "Merge", "type": "main", "index": 7 }]] },
    "Pinterest": { "main": [[{ "node": "Merge", "type": "main", "index": 8 }]] },
    "Merge": {
      "main": [[{ "node": "Update Status to \"DONE\"", "type": "main", "index": 0 }]]
    },
    "Update Status to \"DONE\"": {
      "main": [[{ "node": "Telegram: Send notification", "type": "main", "index": 0 }]]
    }
  }
}
